@model IPagedList<GraduationCeremony.Models.DB.GraduandDetails>
@using X.PagedList.Mvc.Core;
@using X.PagedList;
@using X.PagedList.Web.Common;

@{
    ViewData["Title"] = "Search Graduand";
}

<div class="container">
    <h1 class="display-4">Search Graduand</h1>

    <form id="searchForm" action="/GraduandDetails/Search" method="get" autocomplete="off" class="search-form">
        <div class="form-group">
            <!-- Search Input -->
            <input type="text" id="searchString" name="searchString" class="search-input"
                   autocomplete="off" onkeyup="XAjaxRequest(this.value);" placeholder="Enter name: " required />
        </div>
        <!-- Auto Suggest Container -->
        <div id="autoSuggestContainer" class="autoSuggest"></div>

        <div class="form-group">
            <!-- Search Button -->
            <button type="submit" class="search-button">Search</button>
        </div>

        <!-- Dropdown for selecting years -->
        <div class="form-group">
            <label for="selectYear">Select Year:</label>
            @Html.DropDownList("selectYear", ViewBag.YearList as SelectList, new { @class = "form-control", onchange = "updateHiddenField()" })

            <!-- Hidden field to store selected year -->
            <input type="hidden" id="selectedYear" name="selectedYear" />
        </div>

        <div class="text-center">
            <!-- Filter Button -->
            <div class="form-check form-check-inline form-horizontal">
                <button class="btn btn-lg btn-success" type="submit" value="Filter">Filter</button>
            </div>
        </div>
    </form>
</div>

<div class="container">
    @if (!string.IsNullOrEmpty(ViewBag.Message))
    {
        <div class="alert alert-danger error-message">@ViewBag.Message</div>
    }
    else
    {
        <div class="table-responsive">
            <table class="table table-striped table-bordered">
                <thead class="thead-white">
                    <tr>
                        <th>Forename</th>
                        <th>Surname</th>
                        <th>Person Code</th>
                        <th>Date of Birth</th>
                        <th>Award Code</th>
                        <th>Award Description</th>
                        <th>Qualification Code</th>
                        <th>Level</th>
                        <th>Email</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.graduands.Forenames</td>
                            <td>@item.graduands.Surname</td>
                            <td>@item.graduandAwards.PersonCode</td>
                            <td>@item.graduands.DateOfBirth.ToShortDateString()</td>
                            <td>@item.awards.AwardCode</td>
                            <td>@item.awards.AwardDescription</td>
                            <td>@item.awards.QualificationCode</td>
                            <td>@item.awards.Level</td>
                            <td>@item.graduands.CollegeEmail</td>
                            <td>
                                <a asp-controller="GraduandDetails" asp-action="Edit" asp-route-personCode="@item.graduands.PersonCode" class="btn btn-primary">Edit</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        @if (Model.Count >= 10)
        {
            @Html.PagedListPager(Model, page => Url.Action("Index",
            new { Page = page }),
            new PagedListRenderOptions
            {
                LiElementClasses = new string[] { "page-item" },
                PageClasses = new string[] { "page-link" }
            })
        }
    }
    <a asp-action="Index" class="btn btn-warning">Back to list</a>
</div>

<script type="text/javascript">
    function XAjaxRequest(searchString) {
        if (searchString.length < 1) {
            autoSuggestContainer.innerHTML = "";
            return;
        }

        var xmlhttp;
        xmlhttp = new XMLHttpRequest();
        var url = "/GraduandDetails/SearchGraduandDetailsByName?searchString=" + searchString;
        xmlhttp.open("GET", url, false);
        xmlhttp.send();
        document.getElementById("autoSuggestContainer").style.display = "block";
        document.getElementById("autoSuggestContainer").innerHTML = "";

        var messageObject = JSON.parse(xmlhttp.responseText);

        var autoSuggestions = "";

        for (var i = 0; i < messageObject.length; i++) {
            autoSuggestions +=
                "<input type=\"button\" value=\"" + messageObject[i].graduands.Forenames + " " + messageObject[i].graduands.Surname + "\" "
                + "onclick=\"document.getElementById('searchString').value = this.value; document.getElementById('searchForm').submit();\" "
                + "class=\"auto-suggest-button\" />";
            autoSuggestions += "<br />";
        }

        document.getElementById("autoSuggestContainer").innerHTML = autoSuggestions;
    }

    function updateHiddenField() {
        var selectedYear = document.getElementById("selectYear").value;
        document.getElementById("selectedYear").value = selectedYear;
    }
</script>
