@model List<GraduationCeremony.Models.DB.GraduandDetails>

<h1>Graduand Details</h1>

<table class="table">
    <thead>
        <tr>
            <th>Forename</th>
            <th>Surname</th>
            <th>PersonCode</th>
            <th>Date of Birth</th>
            <th>Award Code</th>
            <th>Award Description</th>
            <th>Qualification Code</th>
            <th>Level</th>
            <th>Major 1</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) 
        {
            <tr>
                <td>@item.graduands.Forenames</td>
                <td>@item.graduands.Surname</td>
                <td>@item.graduandAwards.PersonCode</td>
                <!--removing the time-->
                <td>@item.graduands.DateOfBirth.ToShortDateString()</td>
                <td>@item.awards.AwardCode</td>
                <td>@item.awards.AwardDescription</td>
                <td>@item.awards.QualificationCode</td>
                <td>@item.awards.Level</td>
                <td>@item.graduandAwards.Major1</td>
                <td> <a asp-controller="GraduandDetails" asp-action="Edit" asp-route-personCode="@item.graduands.PersonCode">Edit</a></td>
            </tr>
        }
    </tbody>
</table>
