@model GraduationCeremony.Models.DB.Graduation

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Graduation</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Forenames)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Forenames)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Surname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Surname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nsn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nsn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AwardCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AwardCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QualificationCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QualificationCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AwardDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AwardDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Level)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Level)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Major1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Major1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Major2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Major2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Credits)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Credits)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Completion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Completion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Awarded)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Awarded)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.YearArchieved)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.YearArchieved)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IncludeInSdr)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IncludeInSdr)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BadDebtStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BadDebtStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateOfBirth)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ethnicity1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ethnicity1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ethnicity2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ethnicity2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ethnicity3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ethnicity3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Iwi1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Iwi1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Iwi2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Iwi2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Iwi3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Iwi3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AddressLine1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AddressLine1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AddressLine2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AddressLine2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AddressLine3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AddressLine3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AddressLine4)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AddressLine4)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Town)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Town)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PostCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PostCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CollegeEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CollegeEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PersonalEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PersonalEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mobile)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mobile)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Telephone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Telephone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Campus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Campus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.School)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.School)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AcademicDressRequirements1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AcademicDressRequirements1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AcademicDressRequirements2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AcademicDressRequirements2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Comments)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Comments)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateRecordAddedToMasterList)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateRecordAddedToMasterList)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="PersonCode" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
