@model GraduationCeremony.Models.DB.CheckIn

@{
    ViewData["Title"] = "Checked In";
}

<div class="container">
    <h1 class="mt-4">Checked In</h1>

    <div class="card">
        <div class="card-header">
            Check-In Details
        </div>
        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-2">Forenames</dt>
                <dd class="col-sm-10">@Html.DisplayFor(model => model.Forenames)</dd>

                <dt class="col-sm-2">Surname</dt>
                <dd class="col-sm-10">@Html.DisplayFor(model => model.Surname)</dd>

                <dt class="col-sm-2">NSN</dt>
                <dd class="col-sm-10">@Html.DisplayFor(model => model.Nsn)</dd>

                <dt class="col-sm-2">Award Code</dt>
                <dd class="col-sm-10">@Html.DisplayFor(model => model.AwardCode)</dd>

                <dt class="col-sm-2">Qualification Code</dt>
                <dd class="col-sm-10">@Html.DisplayFor(model => model.QualificationCode)</dd>

                <dt class="col-sm-2">Award Description</dt>
                <dd class="col-sm-10">@Html.DisplayFor(model => model.AwardDescription)</dd>

                <dt class="col-sm-2">Level</dt>
                <dd class="col-sm-10">@Html.DisplayFor(model => model.Level)</dd>

                <dt class="col-sm-2">Date of Birth</dt>
                <dd class="col-sm-10">@Html.DisplayFor(model => model.DateOfBirth)</dd>

                <dt class="col-sm-2">College Email</dt>
                <dd class="col-sm-10">@Html.DisplayFor(model => model.CollegeEmail)</dd>

                <dt class="col-sm-2">Mobile</dt>
                <dd class="col-sm-10">@Html.DisplayFor(model => model.Mobile)</dd>

                <dt class="col-sm-2">Order in List</dt>
                <dd class="col-sm-10">@Html.DisplayFor(model => model.OrderInList)</dd>
            </dl>
        </div>
    </div>

    <div class="mt-4">
        <a asp-action="Edit" asp-route-id="@Model?.PersonCode" class="btn btn-primary">Edit</a>
        <a asp-action="Index" class="btn btn-secondary">Back to List</a>
    </div>
</div>
