@model GraduationCeremony.Models.DB.CheckIn

@{
    ViewData["Title"] = "CheckIn";
}

<h1>CheckIn</h1>

<div>
    <h4>CheckIn</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Forenames)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Forenames)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Surname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Surname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nsn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nsn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AwardCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AwardCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QualificationCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QualificationCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AwardDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AwardDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Level)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Level)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateOfBirth)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CollegeEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CollegeEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mobile)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mobile)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderInList)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderInList)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GraduandAward.PersonCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GraduandAward.PersonCode)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.CheckId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
