@model GraduationCeremony.Models.DB.CheckIn

@{
    ViewData["Title"] = "CheckIn Details";
}

<div class="text-center searchCheckIn-custom-card">
    <div class="title">Check In</div>

    @if (!string.IsNullOrEmpty(ViewBag.Message))
    {
        <!-- Success message with order number -->
        <div class="alert alert-success primary-message">
            <h4><strong>Please remember your number:</strong> @Model.GraduandAwardId</h4>
        </div>
    }


    <div class="card mt-4">
        <div class="card-header">
            Personal Information
        </div>
        <div class="searchCheckIn-card-body text-center">
            <ul>
                <li><strong>Person Code:</strong> @Html.DisplayFor(model => model.PersonCode)</li>
                <li><strong>Name:</strong> @Html.DisplayFor(model => model.Forenames) @Html.DisplayFor(model => model.Surname)</li>
                @if (!string.IsNullOrEmpty(Model.Pronunciation))
                {
                    <li><strong>Pronunciation:</strong> @Html.DisplayFor(model => model.Pronunciation)</li>
                }
                <li><strong>Date of Birth:</strong> @Html.DisplayFor(model => model.DateOfBirth)</li>
            </ul>
        </div>
    </div>

    <div class="card mt-4">
        <div class="card-header">
            Award Information
        </div>
        <div class="searchCheckIn-card-body text-center">
            <ul>
                <li><strong>Award Code:</strong> @Html.DisplayFor(model => model.AwardCode)</li>
                <li><strong>Qualification Code:</strong> @Html.DisplayFor(model => model.QualificationCode)</li>
                <li><strong>Award Description:</strong> @Html.DisplayFor(model => model.AwardDescription)</li>
                <li><strong>Level:</strong> @Html.DisplayFor(model => model.Level)</li>
            </ul>
        </div>
    </div>

    <div class="card mt-4">
        <div class="card-header">
            Contact Information
        </div>
        <div class="searchCheckIn-card-body text-center">
            <ul>
                <li><strong>College Email:</strong> @Html.DisplayFor(model => model.CollegeEmail)</li>
                <li><strong>Mobile:</strong> @Html.DisplayFor(model => model.Mobile)</li>
            </ul>
        </div>
    </div>

    <div class="mt-4">
        @if (!string.IsNullOrEmpty(ViewBag.Message))
        {
            <div class="alert alert-danger error-message">@ViewBag.Message</div>
            <a asp-action="Index" class="btn btn-secondary ml-2">Back to Homepage</a>
        }
        @if (string.IsNullOrEmpty(ViewBag.Message))
        {
            <form id="searchCheckIn-search-Form" action="/CheckIn/CheckIn" method="get" autocomplete="off" class="search-form">
                @if (string.IsNullOrEmpty(Model.Pronunciation))
                {
                    <div class="form-group">
                        <input type="text" style="width:250px;" id="searchCheckIn-pronunciation" name="pronunciation" class="form-control"
                               autocomplete="off" onkeyup="XAjaxRequest(this.value);" placeholder="Enter name phonetics.. Jo-hn Sm-ith" />
                    </div>
                }

                <!-- Hidden input for PersonCode -->
                <input type="hidden" id="personCode" name="personCode" value="@Model.PersonCode" />

                <div class="form-group">
                    <button type="submit" class="btn btn-danger btn-md mt-2">Check In</button>
                </div>
                <a asp-action="Index" class="btn btn-secondary btn">Back to Home</a>
            </form>
        }
    </div>
</div>
