@model IEnumerable<GraduationCeremony.Models.DB.Graduation>

@{
    ViewData["Title"] = "SearchCheckIn";
}

<h1>Search</h1>

<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.Forenames)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Surname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nsn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AwardCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QualificationCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AwardDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Level)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfBirth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CollegeEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mobile)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <input name="checkInCheckBox" type="checkbox" />
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Forenames)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nsn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AwardCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QualificationCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AwardDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Level)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfBirth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CollegeEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mobile)
            </td>
            <td>
                <form id="checkInForm" action="/CheckIn/CheckedIn" method="get" autocomplete="off">
                    <input type="submit" value="Check In" />
                </form>
            </td>
@*             <td>
                <a asp-action="Edit" asp-route-id="@item.PersonCode">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PersonCode">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PersonCode">Delete</a>
            </td> *@
        </tr>
}
    </tbody>
</table>
