@model GraduationCeremony.Models.DB.CheckIn

@{
    ViewData["Title"] = "CheckIn Details";
}

<div class="container">
    <h1 class="mt-4">Check-In Details</h1>

    <div class="card">
        <div class="card-header">
            Personal Information
        </div>
        <div class="card-body">
            <ul>
                <li><strong>Person Code:</strong> @Html.DisplayFor(model => model.PersonCode)</li>
                <li><strong>Forenames:</strong> @Html.DisplayFor(model => model.Forenames)</li>
                <li><strong>Surname:</strong> @Html.DisplayFor(model => model.Surname)</li>
                <li><strong>NSN:</strong> @Html.DisplayFor(model => model.Nsn)</li>
                <li><strong>Date of Birth:</strong> @Html.DisplayFor(model => model.DateOfBirth)</li>
            </ul>
        </div>
    </div>

    <div class="card mt-4">
        <div class="card-header">
            Award Information
        </div>
        <div class="card-body">
            <ul>
                <li><strong>Award Code:</strong> @Html.DisplayFor(model => model.AwardCode)</li>
                <li><strong>Qualification Code:</strong> @Html.DisplayFor(model => model.QualificationCode)</li>
                <li><strong>Award Description:</strong> @Html.DisplayFor(model => model.AwardDescription)</li>
                <li><strong>Level:</strong> @Html.DisplayFor(model => model.Level)</li>
            </ul>
        </div>
    </div>

    <div class="card mt-4">
        <div class="card-header">
            Contact Information
        </div>
        <div class="card-body">
            <ul>
                <li><strong>College Email:</strong> @Html.DisplayFor(model => model.CollegeEmail)</li>
                <li><strong>Mobile:</strong> @Html.DisplayFor(model => model.Mobile)</li>
            </ul>
        </div>
    </div>

    <div class="mt-4">
        @if (!string.IsNullOrEmpty(ViewBag.Message))
        {
            <div class="alert alert-danger error-message">@ViewBag.Message</div>
            <a asp-action="Edit" asp-route-id="@Model.PersonCode" class="btn btn-primary ml-2">Edit</a>
            <a asp-action="Index" class="btn btn-secondary ml-2">Back to List</a>
        }
        @if (string.IsNullOrEmpty(ViewBag.Message))
        {
            <a asp-controller="CheckIn" asp-action="CheckIn" asp-route-PersonCode="@Model.PersonCode" class="btn btn-success">Check In</a>
            <a asp-action="Edit" asp-route-id="@Model.PersonCode" class="btn btn-primary ml-2">Edit</a>
            <a asp-action="Index" class="btn btn-secondary ml-2">Back to List</a>
        }
    </div>

</div>
